 .hidden {
     display: "none"
 }
 
 .first-view {
     background-color: blue;
     text-align: center;
     margin: 0 auto;

}
button {
    background-color: powderblue;
}

body {
    background-color: LightSkyBlue;
    font-family: Ariel Black body copy;
}